/* Main layout styles */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}

.container {
  width: 978px;
  margin: auto;
}


/* ---------------  --------------- Header ---------------  --------------- */

.page-header {
  height: 120px;
}

.page-header__column {
  float: left;
}

.page-header__column--logo {
  margin-right: 29px;
}

.page-header__column--logo a {
  display: block;
  width: 150px;
  height: 120px;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: 0 23px;
  color: transparent;
}

.page-header__column--menu {
  position: relative;
  width: 475px;
}

.page-header__column--menu-link,
.page-header__column--submenu-link {
  display: inline-block;
  vertical-align: top;
  margin-right: -2px;
}

.page-header__column--menu-link a {
  position: relative;
  display: block;
  height: 117px;
  padding-left: 10px;
  padding-right: 9px;
  font-size: 16px;
  line-height: 126px;
  color: #000000;
}

.page-header__column--menu-link a:hover {
  color: #018f3c;
}

.page-header__column--menu-active {
  border-bottom: 3px solid #018f3c;
  color: #018f3c;
}

.page-header__column--menu-active::after {
  position: absolute;
  top: 99px;
  left: 39px;
  display: block;
  content: '';
  border: 10px solid transparent;
  border-bottom-color: #018f3c;
}

.page-header__column--submenu {
  /* display: none; */
  position: absolute;
  left: 0;
  top: 120px;
  width: 100%; 
  height: 60px;
  background-color: #efece7;
}

.page-header__column--submenu-link a {
  display: block;
  height: 60px;
  font-size: 14px;
  line-height: 60px;
  padding: 0;
  color: #000000;
}

.page-header__column--submenu-link span {
  margin-left: 13px;
  margin-right: 14px;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}

.page-header__column--submenu-link a:hover {
  color: #000000;
}

.page-header__column--submenu-link span:hover {
  border-bottom: 1px solid #605e5c;
}

.page-header__column--submenu-active {
  background-color: #ffa800;
}

.page-header__column--submenu-link .page-header__column--submenu-active {
  color: #ffffff;
}

.page-header__column--submenu-link .page-header__column--submenu-active:hover  {
  color: #ffffff;
}

.page-header__column--submenu-active span:hover {
  border-bottom: 1px solid #ffffff;
}

.page-header__column--submenu-1,
.page-header__column--submenu-2,
.page-header__column--submenu-3 {
  position: absolute;
  top: 120px;
  left: 0;
  z-index: 1;
}

.page-header__column--submenu-1,
.page-header__column--submenu-3 {
  display: none;
}

.page-header__column--search {
  margin-top: 53px;
  margin-left: 26px;
}

.page-header__column--login-seller {
  margin-top: 53px;
  margin-left: 32px;
}

.page-header__column--registration-seller {
  position: relative;
  width: 220px;
  height: 45px;
  border: 3px solid #ffa800;
  border-radius: 30px;
  margin-top: 40px;
  margin-left: 6px;
}

.page-header__column--registration-seller:hover {
  background-color: #ffa800;
}

.header-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  color: transparent;
}

.header-icon__search {
  background-position: -293px -221px;
  padding: 0;
  border: none;
}

.header-icon__login {
  background-position: -210px -221px;
}

.header-icon__registration {
  display: inline-block;
  width: 157px;
  font-size: 13px;
  line-height: 40px;
  text-transform: uppercase;
  padding-left: 57px;
  color: #000000;
}

.header-icon__registration::before {
  display: block;
  position: absolute;
  left: 23px;
  top: 9px;
  content: '';
  width: 26px;
  height: 22px;
  background-image: url(../images/main_sprite.png);
  background-repeat: no-repeat;
  background-position: -858px -483px;
}

/* -------------  ------------- Main content -------------  ------------- */

/* .client-reviews { 
  font-size: 13px;
  line-height: 20px;
} */

.client-reviews__header {
  max-width: 560px;
  margin: auto;
  text-align: center;
}

.client-reviews__header::before {
  content: '';
  width: 185px;
  height: 93px;
  display: inline-block;
  vertical-align: top;
  background-image: url(../images/main_sprite.png);
  background-repeat: no-repeat;
  background-position: -101px -851px;
  margin-top: 120px;
  margin-left: 15px;
  margin-bottom: 23px;
}

.client-reviews__header h1 {
  font-size: 45px;
  font-weight: 300;
  margin-bottom: 32px;
}

.client-reviews__header p {
  margin-bottom: 105px;
}

.client-review {
  display: table;
  position: relative;
  width: 788px;
  min-height: 257px;
  background-color: #efece7;
  border-radius: 20px;
  margin-bottom: 90px;
  padding: 53px 55px 50px 53px;
}

.client-review:last-child {
  margin-bottom: 105px;
}

.client-review:nth-child(even) {
  float: right;
}

.client-review:nth-child(odd) {
  float: left;
}

.client-review::before {
  position: absolute;
  content: '';
  width: 160px;
  height: 160px;
  display: inline-block;
  vertical-align: top;
  background-repeat: no-repeat;
}

.client-review:nth-child(even)::before {
  left: -189px;
  top: -60px;
}

.client-review:nth-child(odd)::before {
  left: 819px;
  top: -61px;
}

.client-review--1::before {
  background-image: url(../images/shl_logo.png);
}

.client-review--2::before {
  background-image: url(../images/bruco_logo.png);
}

.client-review--3::before {
  background-image: url(../images/club_logo.png);
}

.client-review::after {
  position: absolute;
  content: '';
  display: inline-block;
  vertical-align: top;
  background-image: url(../images/main_sprite.png);
  background-repeat: no-repeat;
}

.client-review:nth-child(even)::after {
  left: -113px;
  top: 109px;
  width: 114px;
  height: 97px;
  background-position: -299px -850px;
}

.client-review:nth-child(odd)::after {
  left: 787px;
  top: 105px;
  width: 115px;
  height: 103px;
  background-position: -425px -847px;
}

.client-review__article {
  display: table-cell;
  vertical-align: middle;
}

.client-review__article-header h2 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 2px;
}

.client-review__article-header a {
  font-style: italic;
  text-decoration: underline;
  color: #177a93;
}

.client-review__article p {
   margin-top: 20px;
}


/* ---------------  --------------- Footer ---------------  --------------- */

.page-footer {
  min-height: 260px;
  background-color: #efece7;
  clear: both;
}

.page-footer__columns {
  overflow: hidden; 
  padding-bottom: 30px;
  color: #605e5c;
}

.page-footer__columns a {
  color: #605e5c;
}

.page-footer__columns a:hover {
  color: #177a93;
}

.page-footer__column {
  float: left;
  width: 25%;
  margin-top: 55px;
}

.contact-icon::before {
  content: '';
  display: inline-block;
  vertical-align: top;
  width: 15px;
  height: 15px;
  margin-top: 3px;
  margin-right: 5px;
  background-image: url(../images/main_sprite.png);
  background-repeat: no-repeat;
}

.contact-icon__copyright::before {
  background-position: -858px -779px;
}

.contact-icon__email::before {
  background-position: -858px -733px;
}

.contact-icon__skype::before {
  background-position: -858px -756px;
}

.contact-icon__email a,
.contact-icon__skype a {
  color: #177a93;
  border-bottom: 1px solid #177a93;
}

.contact-icon__email a:hover,
.contact-icon__skype a:hover {
  color: #ffa800;
  border-bottom: 1px solid #ffa800;
}

.page-footer__column--sm {
  margin-top: 66px;
}

.social-icon {
  display: inline-block;
  vertical-align: top;
  width: 35px;
  height: 35px;
  margin-right: 2px;
  border-radius: 5px;
  background-image: url("../images/main_sprite.png");
  background-repeat: no-repeat;
}

.social-icon a {
  display: block;
  width: inherit;
  height: inherit;
  color: transparent;
}

.social-icon a:hover {
  color: transparent;
}

.social-icon__vk {
  background-position: -680px -558px;
}

.social-icon__vk:hover {
  background-position: -637px -558px;
}

.social-icon__tw {
  background-position: -729px -282px;
}

.social-icon__tw:hover {
  background-position: -729px -509px;
}

.social-icon__blog {
  background-position: -723px -558px;
}

.social-icon__blog:hover {
  background-position: -729px -417px;
}

.social-icon__hh {
  background-position: -729px -374px;
}

.social-icon__hh:hover {
  background-position: -772px -648px;
}

.social-icon__gp {
  background-position: -858px 0;
}

.social-icon__gp:hover {
  background-position: -653px -782px;
}