/* Diffrent display layout styles */

@media screen and (min-width: 750px) and (max-width: 1000px) {

  .container {
    max-width: 750px;
  }

  /* ---------------  Header --------------- */

  .page-header {
    margin-bottom: 60px;
  }

  .page-header__column--logo {
    margin-right: 167px;
  }

  .page-header__column--logo a {
    background-image: url(../images/logo/logo-sm.png);
    background-position: 42px 35px;
  }

  .page-header__column--menu-hamburger {
    position: relative;
    display: block;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 54px;
    margin-right: 28px;
  }

  .page-header__column--menu-hamburger::before {
    position: absolute;
    top: 4px;
    left: -19px;
    content: '';
    display: block;
    width: 13px;
    height: 12px;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    background-position: -356px -204px;
  }

  .page-header__column--menu-link {
    display: none;
  }

  .page-header__column--submenu-platform,
  .page-header__column--submenu-company,
  .page-header__column--submenu-help {
    display: none;
  }

  .page-header__column--submenu {
    height: 3px;
    top: 117px;
  }

  .page-header__column--login-seller {
    margin-right: 25px;
  }

  /* -------------  Main content  ------------- */

  .client-review {
    max-width: 670px;
    padding-left: 51px;
    padding-right: 47px;
    padding-bottom: 45px;
  }

  .client-review:nth-child(even),
  .client-review:nth-child(odd) {
    float: none;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .client-review:last-child {
    margin-bottom: 90px;
  }

  .client-review::before {
    position: absolute;
    width: 100px;
    height: 100px;
  }

  .client-review:nth-child(even)::before,
  .client-review:nth-child(odd)::before {
    left: 50px;
    top: 40px;
  }

  .client-review--1::before {
    background-image: url(../images/logo/shl_logo-sm.png);
  }

  .client-review--2::before {
    background-image: url(../images/logo/bruco_logo-sm.png);
  }

  .client-review--3::before {
    background-image: url(../images/logo/club_logo-sm.png);
  }

  .client-review:nth-child(even)::after,
  .client-review:nth-child(odd)::after {
    display: none;
  }

  .client-reviews__header {
    padding-bottom: 35px;
  }

  .client-reviews__header p {
    margin-bottom: 50px;
  }

  .client-review__article-header {
    height: 82px;
    padding-left: 119px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  /* --------------- Footer --------------- */

  .page-footer__columns {
    padding-bottom: 35px;
  }

  .page-footer__columns-left,
  .page-footer__columns-right {
    float: left;
    width: 50%;
  }

  .page-footer__columns-left,
  .page-footer__payment-system {
    padding-left: 40px;
  }

  .page-footer__column {
    float: none;
    width: 100%;
  }

  .page-footer__column--center {
    margin-top: 20px;
  }

  .page-footer__column--sm {
    margin-top: 45px;
  }

  .social-icon {
    margin-right: 1px;
  }

  .page-footer__payment-system {
    padding-bottom: 30px;
  }

  .payment-system__item:nth-child(n) {
    margin-right: 14px;
  }

  .payment-system__item:nth-child(4),
  .payment-system__item:nth-child(7) {
    margin-right: 12px;
  }
}


@media screen and (max-width: 749px) {

  .container {
    /* position: relative; */
    max-width: 340px;
  }

  /* ---------------  Header --------------- */

  .page-header {
    margin-bottom: 60px;
  }

  .page-header__column--logo {
    margin-right: 27px;
  }

  .page-header__column--logo a {
    background-image: url(../images/logo/logo-sm.png);
    background-position: 49px 35px;
  }

  .page-header__column--menu-hamburger {
    position: absolute;
    left: 49px; 
    display: block;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 54px;
    margin-right: 28px;
  }

  .page-header__column--menu-hamburger::before {
    position: absolute;
    top: 4px;
    left: -28px;
    content: '';
    display: block;
    width: 13px;
    height: 12px;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    background-position: -356px -204px;
  }

  .page-header__column--menu-hamburger span {
    color: transparent;
  }

  .page-header__column--menu-link {
    display: none;
  }

  .page-header__column--submenu-platform,
  .page-header__column--submenu-company,
  .page-header__column--submenu-help {
    display: none;
  }

  .page-header__column--submenu {
    height: 3px;
    top: 117px;
  }

  .page-header__column--login-seller {
    margin-right: 25px;
  }

  .page-header__column--registration-seller {
    width: 46px;
  }

  .header-icon--registration span {
    display: none;
  }

  .header-icon--registration::before {
    left: 7px;
  }

  /* -------------  Main content  ------------- */

  .client-reviews__header {
    min-width: 300px;
    padding-bottom: 5px;
  }

  .client-reviews__header p {
    padding: 0 21px;
    margin-bottom: 50px;
  }

  .client-review {
    max-width: 670px;
    padding-top: 24px;
    padding-left: 21px;
    padding-right: 22px;
    padding-bottom: 45px;
  }

  .client-review:nth-child(even),
  .client-review:nth-child(odd) {
    float: none;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .client-review:last-child {
    margin-bottom: 50px;
  }

  .client-review::before {
    position: absolute;
    width: 100px;
    height: 100px;
  }

  .client-review:nth-child(even)::before,
  .client-review:nth-child(odd)::before {
    left: 20px;
    top: 20px;
  }

  .client-review--1::before {
    background-image: url(../images/logo/shl_logo-sm.png);
  }

  .client-review--2::before {
    background-image: url(../images/logo/bruco_logo-sm.png);
  }

  .client-review--3::before {
    background-image: url(../images/logo/club_logo-sm.png);
  }

  .client-review:nth-child(even)::after,
  .client-review:nth-child(odd)::after {
    display: none;
  }

  .client-review__article-header {
    display: table-cell;
    height: 100px;
    vertical-align: middle;
    padding-left: 120px;
    padding-top: 20px;
    padding-bottom: 20px; 
  }

  .client-review__article p {
   margin-top: 20px;
}

  /* --------------- Footer --------------- */

  .page-footer {
    text-align: center;
  }

  .page-footer__columns {
    padding-bottom: 30px;
  }

  .page-footer__columns-left,
  .page-footer__columns-right {
    position: relative;
    float: none;
    width: 100%;
  }

  .page-footer__column--left {
    margin-left: -9px;
  }

  .page-footer__column {
    float: none;
    width: 100%;
    margin-top: 39px;
  }

  .page-footer__column--center {
    margin-top: 20px;
    margin-left: 1px;
  }

  .page-footer__column--sm {
    margin-top: 85px;
    margin-left: -1px;
  }

  .social-icon {
    margin-right: 0;
  }

  .page-footer__column--right {
    position: absolute;
    top: -125px;
  }

  .page-footer__payment-system {
    padding-left: 17px;
    padding-bottom: 10px;
  }

  .payment-system__item:nth-child(n) {
    margin-right: 16px;
  }

  .payment-system__item:nth-child(5) {
    padding-top: 5px;
  }

  .payment-system__item:nth-child(9) {
    margin-top: -5px;
  }
}